SportsStore/SportsStore.5.0.ReSharper.user
SportsStore/SportsStore.suo
SportsStore/SportsStore.v11.suo
SportsStore/UpgradeLog.XML
SportsStore/UpgradeLog.htm
SportsStore/_UpgradeReport_Files/
SportsStore/Backup/
SportsStore/SportsStore.sln.DotSettings.user
Authentications/Authentications.v11.suo