
@model LoginPage.Models.IndexViewModel

@{
    ViewBag.Title = "Index";
}

@* <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
</style>*@
<h2>Home</h2> 
