@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<table class="table">
    @foreach (var p in Model.Products)
    {
        Html.RenderPartial("ProductSummary", p);
    }
    
</table>
<div class="pull-right">
    <div class="pagination">
        @Html.PageLinks(Model.PagingInfo, x=> Url.Action("List", new {page=x, category = Model.CurrentCategory}))
    </div>
</div>

    
